streamlit
pypdf2
py3-tts
simple-image-download
pylint
flake8
pandas
faker
rembg
Pillow
psutil
tk
pyperclip
transformers
requests
beautifulsoup4
lmproof
pyttsx3
qrcode
pyshorteners
opencv-python
numpy
pyautogui
plyer
win11toast
